
.vscode/launch.json
Advanced Game Programming/.vs/Advanced Game Programming/v15/Browse.VC.db
Advanced Game Programming/.vs/Advanced Game Programming/v15/Browse.VC.opendb
Advanced Game Programming/.vs/Advanced Game Programming/v15/.suo
Advanced Game Programming/Advanced Game Programming/ThirdParty/Box2D-master/Contributions/Platforms/TestBed.Net/obj/Debug/TestBed.Net.csproj.CoreCompileInputs.cache
Advanced Game Programming/Advanced Game Programming/ThirdParty/Box2D-master/Contributions/Platforms/TestBed.Net/obj/Debug/TestBed.Net.csprojAssemblyReference.cache
*.cache
